---
layout: default
title: "require('http')"
---

- for (var key in (documents || []))
  - if (documents[key].url && documents[key].url.indexOf('/blog/') === 0)
    h2
      a(href="#{documents[key].url}")= documents[key].title
    p= "Author: "
      = documents[key].author 
    p= documents[key].date
    p!= documents[key].description
